.receipt-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: -1;
    background-image: url('../bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.receipt-content {
    display: flex;
    align-items: center;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 10px #ddd;
    background-color: rgba(255, 255, 255, 0.7);
}

.receipt-info {
    display: flex;
    flex-direction: column;
}


.form-group {
    margin-bottom: 0.5rem; /* adjust as needed */
}

.submit-button {
    display: flex;
    justify-content: center;
    align-self: flex-end;
}