#card-row {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.empty-prompt {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 250px;
    height: 200px;
    margin: 10px;
    line-height: 200px;
    font-size: 100px;
    text-align: center;
}